<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
</head>
<body style="font-family: Arial; background: #111; color: white; text-align:center; padding:40px;">
  <h2>Reset Your Password</h2>
  <form method="POST" action="{{ url_for('reset_password') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="password" name="password" placeholder="Enter New Password" required
           style="padding:10px; width:250px; border-radius:5px;"><br><br>
    <button type="submit" style="padding:10px 20px;">Update Password</button>
  </form>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <script>
        {% for category, message in messages %}
          alert("{{ message }}");
        {% endfor %}
      </script>
    {% endif %}
  {% endwith %}
</body>
</html>
